<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CommuniTweet - About us</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='bootstrap1.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='2-col-portfolio.css') }}" rel="stylesheet">
	
	<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

    <!--<script src="js/jqcloud.min.js"></script> -->

    <link href="{{ url_for('static', filename='jqcloud.min.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='docs.min.js') }}"></script>

    <script src="{{ url_for('static', filename='jqcloud.min.js') }}"></script>
    <!--<script src="http://mistic100.github.io/jQCloud/dist/demo-words.js"></script> -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
				<li>
					<a class="navbar-brand" href="{{ url_for('hello') }}">Home</a>
				</li>

            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ url_for('about_us') }}">About us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
			<br><br><br><br><br><br>
			<div class="row">
				<center>
					<div class="col-lg-4">
						<img src="/static/alexandrecombessie.jpg" alt="alexandrecombessie">
					</div>
					<div class="col-lg-4">
						<img src="/static/thibautduguet.jpg" alt="thibautduguet">
					</div>
					<div class="col-lg-4">
						<img src="/static/maximelefebvre.jpg" alt="maximelefebvre">
					</div>
				</center>
			</div>
			
			<div class="row">
                <div class="col-md-4">
					<h3>
                        <a href="https://fr.linkedin.com/in/alexcbs">Alexandre Combessie</a>
                    </h3>
					<p align="justify">Alexandre worked on CommuniTweet with Thibaut while they were studying in the Msc Data Science at the ENSAE.
					It was part of the coursework in order to get the degree.
					</p>
                </div>
				<div class="col-md-4">
					<h3>
                        <a href="https://fr.linkedin.com/in/thibautduguet">Thibaut Duguet</a>
                    </h3>
					<p align="justify">Thibaut worked on CommuniTweet with Alexandre while they were studying in the Msc Data Science at the ENSAE.
					It was part of the coursework in order to get the degree.
					</p>
                </div>
				<div class="col-md-4">
					<h3>
                        <a href="https://fr.linkedin.com/in/maxime-lefebvre-25450ba0">Maxime Lefebvre</a>
                    </h3>
					<p align="justify">Maxime worked on CommuniTweet with Alexandre while he was an intern at Capgemini Consulting in the<a href="https://www.fr.capgemini-consulting.com/big-data-analytics">Big Data and Analytics</a> team.
					It was part of his studies in double degree between Sciences Po Paris and University Paris I Panthéon-Sorbonne.
					</p>
                </div>
			</div>
    </div>
		
        <hr>

        <!-- Footer -->
        <!--<footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>

        </footer>-->

    </div>
    <!-- /.container -->

    <!-- jQuery
    <script src="js/jquery.js"></script>
    <script src="js/jqcloud.min.js"></script>


    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/test-jqcloud.js"></script>-->

</body>

</html>